@import "tailwindcss";
/* ===== Remove scrollbars globally ===== */
html, body,#root {
  overflow-x: hidden;
  scroll-behavior: smooth;
  height:100%;
  margin: 0;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}


section {
  scroll-margin-top: 100px;
}